body {
    background:  #171717;
    width: 1460px;
    margin: auto;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-family: Gilam;
    font-weight: 700;
    background-image: url("./image./header-background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
     }

.logo{
    margin-top: 46px;
    width: 216px;
    height: 33px;
}

.btn{
    border: 1px solid #E4B564;
    background:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.btn1 {
    margin-top: 37px;
    width: 214px;
    height: 46px;}

.a { text-decoration-line: none;
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;

}
.img1{
   margin-right: 8px;
}


h1{
    font-size:50px;
    margin-bottom: 41px;
    margin-top: 128px;
}

.menu-seti {
    display: grid;
    grid-template-columns: 467px 220px 220px 467px;
    grid-template-rows: 468px 468px;
    gap: 27px;
    margin-bottom: 161px;
    margin-top: 41px;

}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item-1 {
    background: #634F2C;
}

.grid-item-2 {
    grid-column: span 2;
    background: #B4A385;
    padding-left: 44px;
    padding-right: 44px;

    }
.grid-item-3 {
        background: #E4B564;
}
.grid-item-4 {
    grid-column: span 2;
   background: #635A4A;
}
.grid-item-5 {
    grid-column: span 2;
    background: #B08C4D;
}

.menu2 {
    display: grid;
    grid-template-columns: 467px 467px 467px;
    grid-template-rows: 255px 29px 97px 129px 277px;
    grid-row-gap: 29px;
    grid-column-gap: 26px;
    margin-bottom: 290px;
    margin-top: 94px;
}
.menu-park {
    display: flex;
    justify-content: normal;
    text-align: left;
    padding-top: 44px;
    padding-left: 52px;
   line-height: 24.98px;

}
.menu-park-1 {
    grid-row: span 2;
    background: #0E0E0E;
}
.menu-park-2 {
    grid-row: span 3;
    background: #242424;
}
.menu-park-3 {
    background: #1F1F1F;
}
.menu-park-4 {
    grid-row: span 3;
    background: #0E0E0E;
}
.menu-park-5 {
    grid-row: span 3;
    background: #1F1F1F;
}
.menu-park-6 {
    grid-row: span 2;
    background: #E4B564;
    color: #000000;
   margin-bottom: 24px;
    margin-top: 6px;
}
.menu-park-7 {
    background: #000000;
}

.conteiner {
    height: 1054px;
    width:1920px;
    background-image: url("./image./parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   margin-left: -230px;

   }
footer { width: 1460px;
    margin-left: 230px;

}
.btn2 {
   width: 180px;
    height: 46px;
    margin-top: 161px;
}
.h-2{
    margin-top: 170px;
    margin-bottom: 0px;
}
.menu3 {
    display: grid;
    grid-template-columns: 487px 487px 487px;
    grid-template-rows: 391px 391px 391px;
     margin-top: 61px;
}
.menu-client {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

   }
.menu-client-1 {
    background: #634F2C;
}
.menu-client-2 {
    background: rgba(232, 210, 171, 0.76);
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.img3{
    padding-top: 61px;
}
.span{
    font-size: 22px;
    line-height: 28px;
    padding: 16px 80px 61px 80px;
   }
.menu-client-3 {
    background: #E4B564;
}
.menu-client-4 {
    background: #635A4A;
}
.menu-client-5 {
    background: #B08C4D;
}
.menu-client-6 {
    background: #634F2C;
}